/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/FuturaBookC/FuturaBookC.eot");
  src: url("../fonts/FuturaBookC/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBookC/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC/FuturaBookC.ttf") format("truetype"), url("../fonts/FuturaBookC/FuturaBookC.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "futurademic";
  src: url("../fonts/futurademic/futurademic.eot");
  src: url("../fonts/futurademic/futurademic.eot?#iefix") format("embedded-opentype"), url("../fonts/futurademic/futurademic.woff") format("woff"), url("../fonts/futurademic/futurademic.ttf") format("truetype"), url("../fonts/futurademic/futurademic.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "glyphicons";
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons/glyphicons-halflings-regular.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "os";
  src: url("../fonts/os/icomoon.eot");
  src: url("../fonts/os/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/os/icomoon.woff") format("woff"), url("../fonts/os/icomoon.ttf") format("truetype"), url("../fonts/os/icomoon.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

.sprite {
  background-image: url(../../img/spritesheet1.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sprite-bin-icon {
  width: 20px;
  height: 21px;
  background-position: -5px -5px; }

.sprite-fast-icon {
  width: 23px;
  height: 17px;
  background-position: -35px -5px; }

.sprite1 {
  background-image: url(../../img/spritesheet2.png);
  background-repeat: no-repeat;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 21px; }

.sprite-solution_01 {
  width: 49px;
  height: 60px;
  background-position: -5px -5px; }

.sprite-solution_02 {
  width: 47px;
  height: 60px;
  background-position: -64px -5px; }

.sprite-solution_03 {
  width: 50px;
  height: 57px;
  background-position: -121px -5px; }

.sprite3 {
  background-image: url(../../img/spritesheet3.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-drive_01 {
  width: 27px;
  height: 35px;
  background-position: -5px -5px; }

.sprite-drive_02 {
  width: 33px;
  height: 36px;
  background-position: -42px -5px; }

.sprite-drive_03 {
  width: 35px;
  height: 25px;
  background-position: -85px -5px; }

.sprite-drive_04 {
  width: 28px;
  height: 33px;
  background-position: -130px -5px; }

.sprite-drive_05 {
  width: 32px;
  height: 30px;
  background-position: -168px -5px; }

.sprite-drive_06 {
  width: 36px;
  height: 28px;
  background-position: -210px -5px; }

.sprite4 {
  background-image: url(../../img/spritesheet4.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto; }

.sprite-devices_01 {
  width: 64px;
  height: 55px;
  background-position: -5px -5px; }

.sprite-devices_02 {
  width: 41px;
  height: 55px;
  background-position: -79px -5px; }

.sprite-devices_03 {
  width: 34px;
  height: 55px;
  background-position: -130px -5px; }

.sprite5 {
  background-image: url(../../img/spritesheet5.png);
  background-repeat: no-repeat;
  display: block;
  background-color: #000; }

.sprite-social_01 {
  width: 32px;
  height: 36px;
  background-position: -5px -5px; }

.sprite-social_02 {
  width: 30px;
  height: 36px;
  background-position: -47px -5px; }

.black-button_position1 {
  margin-top: 25px; }

.black-button_position2 {
  margin-top: 6px; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'os' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 35px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pause-circle:before {
  content: "\e901"; }

.icon-play-circle:before {
  content: "\e900"; }

.icon-appleinc:before {
  content: "\eabe"; }

.icon-android:before {
  content: "\eac0"; }

.sprite6 {
  background-image: url(../../img/spritesheet6.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-pause {
  width: 43px;
  height: 43px;
  background-position: -5px -5px;
  position: relative;
  top: 25px; }

.sprite-play-icon {
  display: inline-block;
  width: 43px;
  height: 43px;
  background-position: -58px -5px;
  position: relative;
  top: 20px;
  margin-right: 10px; }

.message {
  margin-top: 20px; }

.sound-message {
  font-size: 19px; }

.sprite7 {
  background-image: url(../../img/spritesheet7.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

.sprite-strizh_01 {
  width: 96px;
  height: 90px;
  background-position: -5px -5px; }

.sprite-strizh_02 {
  width: 101px;
  height: 81px;
  background-position: -111px -5px; }

.sprite-strizh_03 {
  width: 74px;
  height: 75px;
  background-position: -222px -5px; }

.sprite-strizh_04 {
  width: 92px;
  height: 95px;
  background-position: -306px -5px; }

.sprite-strizh_05 {
  width: 91px;
  height: 95px;
  background-position: -408px -5px; }

.sprite-strizh_06 {
  width: 65px;
  height: 95px;
  background-position: -509px -5px; }

body {
  font-family: 'FuturaBookC', Arial, sans-serif;
  font-size: 15px;
  background-color: #ffffff;
  line-height: 18px;
  color: #000000;
  max-width: 1920px;
  margin: 0 auto; }

.container-1350 {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto; }

.b-title {
  font-size: 36px;
  color: #fff; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.carousel-control.left {
  background-image: none; }

.carousel-control.right {
  background-image: none; }

.inline-b {
  display: inline-block; }

a {
  color: #000000; }
  a:hover {
    color: #000000; }
  a:visited {
    text-decoration: underline; }

.text-dec-none {
  text-decoration: none; }
  .text-dec-none:hover {
    text-decoration: none; }

.futurademic-text {
  font-family: "futurademic"; }

.gray-text {
  color: #888888; }

.under-text-grey {
  border-bottom: 1px solid #989898; }

.under-text-yellow {
  border-bottom: 1px solid #e1b150;
  color: #e1b150; }

.text-color-yellow {
  color: #f7a043; }

.text-color-yel-slid {
  color: #f7a042;
  border-bottom: 1px solid #f7a042; }

.bold-text {
  font-family: 'futurademic'; }

.drive__title {
  margin-top: 100px;
  margin-bottom: 45px; }

.up-top-nav {
  padding: 40px 0px 30px 0px; }

.up-top-nav__item {
  margin-right: 40px; }
  .up-top-nav__item .moscow-shop {
    font-family: "futurademic";
    border-bottom: 2px dotted #000; }

.up-top-nav__item_fast {
  margin-right: 20px;
  margin-left: -30px; }

.header-phone {
  margin-right: 5px; }

.up-top-nav__item_shop {
  margin-left: 20px; }

.sprite-fast-icon {
  position: relative;
  right: 5px;
  top: 3px; }

.glyphicon-menu-down {
  font-size: 12px; }

.glyphicon-menu-up {
  font-size: 12px; }

.gray-text {
  font-size: 14px; }

.top-phone {
  font-size: 19px; }

.top-show {
  font-size: 14px;
  border-bottom: 1px dotted #000000; }

.down-top-nav li {
  font-family: 'futurademic';
  font-size: 19px;
  margin-right: 18px; }
  .down-top-nav li a:hover {
    text-decoration: none; }

.sprite-bin-icon {
  position: relative;
  top: 5px;
  right: 5px; }

.top-down-nav {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px; }

.logo {
  position: relative;
  bottom: 10px; }

.cities-list {
  display: none;
  position: absolute;
  background-color: #f6f5f4;
  z-index: 1000;
  top: -13px;
  left: -11px; }
  .cities-list a {
    display: block;
    padding: 13px 15px 13px 34px; }
  .cities-list li a:hover {
    text-decoration: none;
    background-color: #e5b328; }

.up-top-nav__item_shop:hover .cities-list {
  display: block; }

.main-slider {
  top: 0px;
  z-index: -500;
  display: none; }

.chose-solution {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  width: 650px; }

.ecto-control {
  display: none;
  width: 737px;
  text-align: left;
  position: relative;
  top: -120px;
  left: -220px; }
  .ecto-control h1 {
    display: inline-block;
    font-size: 42px;
    color: #e5b328;
    line-height: 1.3; }
  .ecto-control h2 {
    display: inline-block;
    font-size: 42px;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 60px; }

.carousel-indicators li {
  width: 180px;
  height: 30px;
  border-radius: 0;
  color: #fff;
  position: relative;
  z-index: 10;
  border: none; }

.indic-text {
  position: absolute;
  left: 555px;
  top: 5px; }

.slider-dot2 {
  margin-left: -40px; }

.slider-dot3 {
  width: 160px; }

.carousel-indicators li:first-child {
  left: 30px;
  border-radius: 16px 0px 0px 16px;
  border-top: 1px solid #575858;
  border-bottom: 1px solid #575858; }

.carousel-indicators li:nth-child(2) {
  border-top: 1px solid #575858;
  border-bottom: 1px solid #575858; }

.carousel-indicators li:last-child {
  width: 250px;
  left: -25px;
  border-radius: 0px 16px 16px 0px;
  border-top: 1px solid #575858;
  border-bottom: 1px solid #575858; }
  .carousel-indicators li:last-child span {
    left: 580px; }

.carousel-indicators .active {
  top: -1px;
  width: 181px;
  height: 30px;
  border-radius: none;
  background-color: #f7a042;
  border-color: #f7a042 !important;
  z-index: 100;
  border-radius: 16px 16px 16px 16px !important; }

.drive {
  background-image: url("../../img/drive-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 620px; }

.boiler {
  color: #fff;
  margin-bottom: 40px;
  font-size: 20px; }

.sprite3 {
  position: relative;
  top: 0px;
  right: 10px;
  float: left; }

.sprite-drive_03 {
  top: -5px; }

.sprite-drive_06 {
  top: -5px; }

.d-distance-title {
  margin-top: 150px;
  margin-bottom: 75px; }

.access {
  height: 630px;
  background-image: url("../../img/access-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }

.b-title-acces {
  color: #000000; }

.oper-s {
  margin-top: 20px; }

.black-button_matgin {
  margin-top: 30px; }

.strizh {
  height: 820px;
  font-size: 19px;
  line-height: 1.3; }
  .strizh [class^="col-"] {
    margin-bottom: 80px; }

.strizh__title {
  color: #000000;
  margin-top: 85px;
  margin-bottom: 85px;
  text-align: center; }

.yellow-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
  background-color: #f7a042;
  padding: 8px 16px;
  border-radius: 16px 16px 16px 16px; }
  .yellow-button:hover, .yellow-button:visited, .yellow-button:link, .yellow-button:active {
    text-decoration: none;
    color: #fff; }
  .yellow-button:hover {
    background-color: #e37a0a; }

.black-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
  background-color: #1f1f1f;
  padding: 6px 18px;
  border-radius: 16px 16px 16px 16px; }
  .black-button:hover, .black-button:visited, .black-button:link, .black-button:active {
    text-decoration: none;
    color: #fff; }
  .black-button:hover {
    background-color: black; }
