/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

background-image: url("../../img");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/FuturaBookC/FuturaBookC.eot");
  src: url("../fonts/FuturaBookC/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBookC/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC/FuturaBookC.ttf") format("truetype"), url("../fonts/FuturaBookC/FuturaBookC.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "futurademic";
  src: url("../fonts/futurademic/futurademic.eot");
  src: url("../fonts/futurademic/futurademic.eot?#iefix") format("embedded-opentype"), url("../fonts/futurademic/futurademic.woff") format("woff"), url("../fonts/futurademic/futurademic.ttf") format("truetype"), url("../fonts/futurademic/futurademic.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "glyphicons";
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons/glyphicons-halflings-regular.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "os";
  src: url("../fonts/os/icomoon.eot");
  src: url("../fonts/os/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/os/icomoon.woff") format("woff"), url("../fonts/os/icomoon.ttf") format("truetype"), url("../fonts/os/icomoon.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

.sprite {
  background-image: url(../../img/spritesheet1.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sprite-bin-icon {
  width: 20px;
  height: 21px;
  background-position: -5px -5px; }

.sprite-fast-icon {
  width: 23px;
  height: 17px;
  background-position: -35px -5px; }

.sprite1 {
  background-image: url(../../img/spritesheet2.png);
  background-repeat: no-repeat;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 21px; }

.sprite-solution_01 {
  width: 49px;
  height: 60px;
  background-position: -5px -5px; }

.sprite-solution_02 {
  width: 47px;
  height: 60px;
  background-position: -64px -5px; }

.sprite-solution_03 {
  width: 50px;
  height: 57px;
  background-position: -121px -5px; }

.sprite3 {
  background-image: url(../../img/spritesheet3.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-drive_01 {
  width: 27px;
  height: 35px;
  background-position: -5px -5px; }

.sprite-drive_02 {
  width: 33px;
  height: 36px;
  background-position: -42px -5px; }

.sprite-drive_03 {
  width: 35px;
  height: 25px;
  background-position: -85px -5px; }

.sprite-drive_04 {
  width: 28px;
  height: 33px;
  background-position: -130px -5px; }

.sprite-drive_05 {
  width: 32px;
  height: 30px;
  background-position: -168px -5px; }

.sprite-drive_06 {
  width: 36px;
  height: 28px;
  background-position: -210px -5px; }

.sprite4 {
  background-image: url(../../img/spritesheet4.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto; }

.sprite-devices_01 {
  width: 64px;
  height: 55px;
  background-position: -5px -5px; }

.sprite-devices_02 {
  width: 41px;
  height: 55px;
  background-position: -79px -5px; }

.sprite-devices_03 {
  width: 34px;
  height: 55px;
  background-position: -130px -5px; }

.sprite5 {
  background-image: url(../../img/spritesheet5.png);
  background-repeat: no-repeat;
  display: block;
  background-color: #000; }

.sprite-social_01 {
  width: 32px;
  height: 36px;
  background-position: -5px -5px; }

.sprite-social_02 {
  width: 30px;
  height: 36px;
  background-position: -47px -5px; }

.black-button_position1 {
  margin-top: 25px; }

.black-button_position2 {
  margin-top: 6px; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'os' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 35px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pause-circle:before {
  content: "\e901"; }

.icon-play-circle:before {
  content: "\e900"; }

.icon-appleinc:before {
  content: "\eabe"; }

.icon-android:before {
  content: "\eac0"; }

.icon-menu:before {
  content: "\e903"; }

.sprite6 {
  background-image: url(../../img/spritesheet6.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-pause {
  width: 43px;
  height: 43px;
  background-position: -5px -5px;
  position: relative;
  top: 25px; }

.sprite-play-icon {
  display: inline-block;
  width: 43px;
  height: 43px;
  background-position: -58px -5px;
  position: relative;
  top: 20px;
  margin-right: 10px; }

.message {
  margin-top: 20px; }

.sound-message {
  font-size: 19px; }

.sprite7 {
  background-image: url(../../img/spritesheet7.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

.sprite-strizh_01 {
  width: 96px;
  height: 90px;
  background-position: -5px -5px; }

.sprite-strizh_02 {
  width: 101px;
  height: 81px;
  background-position: -111px -5px; }

.sprite-strizh_03 {
  width: 74px;
  height: 75px;
  background-position: -222px -5px; }

.sprite-strizh_04 {
  width: 92px;
  height: 95px;
  background-position: -306px -5px; }

.sprite-strizh_05 {
  width: 91px;
  height: 95px;
  background-position: -408px -5px; }

.sprite-strizh_06 {
  width: 65px;
  height: 95px;
  background-position: -509px -5px; }

body {
  font-family: 'FuturaBookC', Arial, sans-serif;
  font-size: 15px;
  background-color: #ffffff;
  line-height: 18px;
  color: #000000;
  max-width: 1920px;
  margin: 0 auto; }

.container-1350 {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto; }

.b-title {
  font-size: 36px;
  color: #fff; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.carousel-control.left {
  background-image: none; }

.carousel-control.right {
  background-image: none; }

.inline-b {
  display: inline-block; }

a {
  color: #000000; }
  a:hover {
    color: #000000; }
  a:visited {
    text-decoration: underline; }

.text-dec-none {
  text-decoration: none; }
  .text-dec-none:hover {
    text-decoration: none; }

.futurademic-text {
  font-family: "futurademic"; }

.gray-text {
  color: #888888; }

.under-text-grey {
  border-bottom: 1px solid #989898; }

.under-text-yellow {
  border-bottom: 1px solid #e1b150;
  color: #e1b150; }

.text-color-yellow {
  color: #f7a043; }

.text-color-yel-slid {
  color: #f7a042;
  border-bottom: 1px solid #f7a042; }
  .text-color-yel-slid:hover {
    color: #f7a042;
    text-decoration: none; }

.bold-text {
  font-family: 'futurademic'; }

.drive__title {
  margin-top: 100px;
  margin-bottom: 45px; }

.news-text {
  color: #fff;
  line-height: 1.5; }

.yellow-text {
  color: #e5b328; }

.text-underline {
  text-decoration: underline; }

.mail {
  margin-bottom: 20px; }

.call-resept {
  margin-bottom: 45px; }

.black-text {
  color: #000; }

.bdb-gr {
  border-bottom: 1px solid #e5e5e5; }

.send-by {
  display: inline-block;
  margin-bottom: 5px; }

.time-send {
  float: left;
  position: absolute;
  left: 290px;
  width: 90px; }

.days-send {
  float: right;
  margin-right: 25px; }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }

.yellow-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #f7a042;
  padding: 8px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
          border-radius: 16px 16px 16px 16px; }
  .yellow-button:hover, .yellow-button:visited, .yellow-button:link, .yellow-button:active {
    text-decoration: none;
    color: #fff; }
  .yellow-button:hover {
    background-color: #e37a0a; }

.black-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #1f1f1f;
  padding: 6px 18px;
  -webkit-border-radius: 16px 16px 16px 16px;
          border-radius: 16px 16px 16px 16px; }
  .black-button:hover, .black-button:visited, .black-button:link, .black-button:active {
    text-decoration: none;
    color: #fff; }
  .black-button:hover {
    background-color: black; }

.main-header {
  position: absolute;
  z-index: 10;
  width: 100%; }

.header-lining {
  height: 70px; }

.up-top-nav {
  padding: 40px 0px 30px 0px; }

.up-top-nav__item {
  margin-right: 40px; }
  .up-top-nav__item .moscow-shop {
    font-family: "futurademic";
    border-bottom: 2px dotted #000; }

.up-top-nav__item_fast {
  margin-right: 30px;
  margin-left: 10px; }

.header-phone {
  margin-right: 5px; }

.up-top-nav__item_shop {
  margin-left: 20px;
  position: relative; }

.sprite-fast-icon {
  position: relative;
  right: 5px;
  top: 3px; }

.glyphicon-menu-down {
  font-size: 12px; }

.glyphicon-menu-up {
  font-size: 12px; }

.top-phone {
  font-size: 19px; }

.top-show {
  font-size: 14px;
  border-bottom: 1px dotted #000000; }

.down-top-nav li {
  font-family: 'futurademic';
  font-size: 19px;
  margin-right: 18px; }
  .down-top-nav li a:hover {
    text-decoration: none; }

.sprite-bin-icon {
  position: relative;
  top: 5px;
  right: 5px; }

.top-down-nav {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px; }

.logo {
  position: relative;
  bottom: 0px; }

.cities-list {
  display: none;
  position: absolute;
  background-color: #f6f5f4;
  z-index: 1000;
  top: -13px;
  left: -34px; }
  .cities-list a {
    display: block;
    padding: 13px 15px 13px 34px;
    width: 300px; }
  .cities-list li a:hover {
    text-decoration: none;
    background-color: #e5b328; }

.up-top-nav__item_shop:hover .cities-list {
  display: block; }

.chose-solution {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  width: 650px; }

.ecto-control {
  width: 737px;
  text-align: left;
  position: relative;
  top: -120px;
  left: -220px; }
  .ecto-control h1 {
    display: inline-block;
    font-size: 42px;
    color: #e5b328;
    line-height: 1.3; }
  .ecto-control h2 {
    display: inline-block;
    font-size: 42px;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 60px; }

.carousel-indicators {
  margin-bottom: 20px; }

.carousel-indicators li {
  width: 180px;
  height: 30px;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #fff;
  position: relative;
  z-index: 10;
  border: none; }

.indic-text {
  margin-top: 5px;
  text-indent: 0; }

.slider-dot2 {
  margin-left: -40px; }

.slider-dot3 {
  width: 160px; }

.carousel-indicators li:first-child {
  left: 30px;
  -webkit-border-radius: 16px 0px 0px 16px;
          border-radius: 16px 0px 0px 16px;
  border-top: 1px solid #575858;
  border-bottom: 1px solid #575858; }

.carousel-indicators li:nth-child(2) {
  border-top: 1px solid #575858;
  border-bottom: 1px solid #575858; }

.carousel-indicators li:last-child {
  width: 250px;
  left: -25px;
  -webkit-border-radius: 0px 16px 16px 0px;
          border-radius: 0px 16px 16px 0px;
  border-top: 1px solid #575858;
  border-bottom: 1px solid #575858; }
  .carousel-indicators li:last-child span {
    left: 580px; }

.carousel-indicators .active {
  top: 0px;
  width: 181px;
  height: 30px;
  -webkit-border-radius: none;
          border-radius: none;
  background-color: #f7a042;
  border-color: #f7a042 !important;
  z-index: 100;
  -webkit-border-radius: 16px 16px 16px 16px !important;
          border-radius: 16px 16px 16px 16px !important; }

.drive {
  background-image: url("../../img/drive-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 130px; }

.boiler {
  color: #fff;
  margin-bottom: 40px;
  font-size: 20px; }

.sprite3 {
  position: relative;
  top: 0px;
  right: 10px;
  float: left; }

.sprite-drive_03 {
  top: -5px; }

.sprite-drive_06 {
  top: -5px; }

.d-distance-title {
  margin-top: 150px;
  margin-bottom: 75px; }

.access {
  background-image: url("../../img/access-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 100px; }

.b-title-acces {
  color: #000000; }

.oper-s {
  margin-top: 20px; }

.black-button_matgin {
  margin-top: 30px; }

.strizh {
  font-size: 19px;
  line-height: 1.3; }
  .strizh .margin-bottom-80 {
    padding-bottom: 60px; }

.strizh__title {
  color: #000000;
  margin-top: 85px;
  margin-bottom: 85px;
  text-align: center; }

.simple {
  padding-bottom: 130px;
  background-image: url("../../img/simple-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-size: 20px; }

.simple-title {
  margin-top: 220px;
  margin-bottom: 65px;
  color: #000000; }

.set-sistem {
  margin-bottom: 25px; }

.news {
  padding-bottom: 100px;
  background-image: url("../../img/news-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }

.news-text {
  padding-left: 110px;
  position: relative; }

.news__title {
  text-align: center;
  margin: 65px 0 80px 0; }

.date {
  position: absolute;
  left: 20px;
  top: 0px;
  color: #a0a0a0; }
  .date .date__number {
    font-size: 56px;
    line-height: 0.8; }

.cities-tab {
  padding-bottom: 30px; }

.nav-tabs {
  border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none; }

.nav-tabs > li > a {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.nav-tabs > li {
  float: none;
  width: 210px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #e5b328;
  color: #fff;
  text-decoration: none; }

.nav-tabs > li.active > a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 20px solid #e5b328;
  border-right: 20px solid #fff; }

.nav-tabs > li.active > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 20px solid #e5b328;
  border-right: 20px solid #fff; }

.nav-tabs > li a {
  text-decoration: underline;
  color: #e5b328;
  font-size: 16px; }

.chose-city {
  font-size: 19px;
  margin-top: 45px;
  margin-bottom: 20px;
  padding-left: 18px; }

.didnt-find-city {
  font-size: 36px;
  color: #000;
  margin-top: -35px;
  margin-bottom: 60px; }

.send-p {
  margin-bottom: 25px;
  font-size: 19px; }

.send-phone {
  font-size: 24px;
  margin-bottom: 25px; }

.tab-pane {
  font-size: 19px; }
  .tab-pane .sprite-fast-icon {
    position: absolute;
    left: -30px;
    top: 0; }

.send-world {
  margin-bottom: 18px;
  position: relative; }

.send-button {
  padding-bottom: 9px;
  margin-top: 25px; }

.fill-form {
  margin-top: 70px;
  margin-bottom: 29px; }

.send-form .input-field {
  border: none;
  background-color: #f6f5f4;
  padding: 11px 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.send-form .form-send-button {
  -webkit-border-radius: 18px 18px 18px 18px;
          border-radius: 18px 18px 18px 18px;
  border: none;
  margin-top: 6px; }

.padding-form {
  padding-left: 50px; }

.sensor {
  background-image: url("../../img/sensor-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  padding-bottom: 30px; }

.sensor-in-r {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: #000; }

.sensor-wrap {
  text-align: center; }

.sensor-describe {
  display: inline-block;
  font-size: 22px;
  margin-top: 40px;
  padding-bottom: 45px;
  line-height: 1.3;
  border-bottom: 1px solid #e3e3e3; }

.sensor-title {
  color: #e6a627;
  margin-top: 40px;
  margin-bottom: 50px; }

.sensor-list .sensor-list__item {
  z-index: 200; }

.be-informed {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 40px; }

.sensor ul {
  list-style: disc outside;
  padding-left: 0px; }

.sensor-list {
  font-size: 19px; }
  .sensor-list .sensor-list__item {
    display: list-item;
    cursor: pointer;
    list-style-type: circle;
    padding: 6px 11px 8px 15px;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4a628; }

.mouse-img {
  display: inline-block;
  background-image: url("../../img/mouse-img.png");
  background-repeat: no-repeat;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1;
  width: 200px;
  text-align: right;
  background-position: 10px 6px; }

.map-sensor {
  display: inline-block;
  list-style: none;
  background-image: url("../../img/sensor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 600px;
  height: 720px;
  position: absolute;
  top: -520px;
  z-index: 12; }
  .map-sensor .sensor-img {
    width: 302px;
    padding-top: 124px; }

.map-sensor-descript {
  margin-top: -5px;
  padding: 10px 55px 18px 55px;
  font-size: 18px;
  line-height: 1.3;
  width: 380px;
  margin: 0 auto;
  text-align: left; }
  .map-sensor-descript .descript-title {
    font-size: 22px; }

.yellow-button_radius {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-top: 13px;
  font-size: 15px; }

.triangle {
  position: relative;
  top: 40px;
  left: 121px; }

.show-1349 {
  display: none; }

.down-top-nav {
  text-align: left; }

.cooperation:visited {
  text-decoration: none;
  color: #f7a042; }

.show-992 {
  display: none; }

.map-sensor1 {
  display: block; }

.map-sensor2 {
  display: block; }

.map-sensor3 {
  display: block; }

.map-sensor4 {
  display: block; }

.map-sensor5 {
  display: block; }

.map-sensor6 {
  display: block; }

.map-sensor7 {
  display: block; }

h1, h2, h3 {
  line-height: 1; }

.icon-menu {
  background-color: #f79c3b;
  color: #fff;
  display: inline-block;
  padding: 9px 10px;
  font-size: 29px;
  position: relative;
  top: -11px; }

.basket {
  display: none; }

.icon-menu {
  display: none; }

.drop-down-nav {
  background-color: #3d3d3d;
  margin-top: 10px;
  display: none; }
  .drop-down-nav li {
    padding: 13px;
    padding-left: 50px;
    font-size: 19px;
    color: #fff; }

.icons-grup {
  position: absolute;
  right: 50px;
  top: 116px; }

.icon-menu-dark {
  background-color: #3d3d3d; }

.drop-nav-992 {
  color: #fff;
  border-bottom: 1px solid #f7a042; }

.yellow-text {
  color: #f79c3b; }

.sensor-list .sensor-list__item {
  background-image: url("../../img/dot.png");
  background-repeat: no-repeat;
  background-position: 2px 11px;
  padding-left: 10px;
  position: relative; }

.chose-city-992 {
  color: #e5b328;
  padding-left: 13px; }

.house-wrap {
  display: inline-block;
  position: absolute;
  bottom: 0; }

.sensor-obj {
  background-image: url("../../img/marker.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 40px;
  width: 41px;
  position: absolute; }

.sensor-obj1 {
  left: 85px;
  bottom: 55px; }

.sensor-obj2 {
  left: 105px;
  bottom: 180px; }

.sensor-obj3 {
  left: 170px;
  bottom: 330px; }

.sensor-obj4 {
  left: 435px;
  bottom: 155px; }

.sensor-obj5 {
  left: 380px;
  bottom: 65px; }

.sensor-obj6 {
  left: 220px;
  bottom: 83px; }

.house-wrap .map-sensor1 {
  left: -277px;
  top: -578px;
  display: none; }

.house-wrap .map-sensor2 {
  left: -277px;
  top: -578px;
  display: none; }

.house-wrap .map-sensor3 {
  left: -277px;
  top: -578px;
  display: none; }

.house-wrap .map-sensor4 {
  left: -277px;
  top: -578px;
  display: none; }

.house-wrap .map-sensor5 {
  left: -277px;
  top: -578px;
  display: none; }

.house-wrap .map-sensor6 {
  left: -277px;
  top: -578px;
  display: none; }

.house-wrap .map-sensor7 {
  left: -277px;
  top: -578px;
  display: none; }

.map-sensor11 {
  display: none; }

.map-sensor12 {
  display: none; }

.map-sensor13 {
  display: none; }

.map-sensor14 {
  display: none; }

.map-sensor15 {
  display: none; }

.map-sensor16 {
  display: none; }

.map-sensor17 {
  display: none; }

.map-sensor18 {
  display: none; }

.tab-content {
  padding-left: 10px; }

.main-footer {
  background-color: #f6f5f4;
  padding: 25px 0px; }
  .main-footer .footer-contacts .copirights {
    margin-right: 52px; }
  .main-footer .footer-contacts li {
    display: inline-block; }

@media only screen and (min-width: 1350px) {
  .down-top-nav {
    margin-left: 20px; } }

@media only screen and (max-width: 1100px) {
  .sensor-list .sensor-list__item {
    font-size: 16px; } }

@media only screen and (min-width: 992px) {
  .sensor-list {
    margin-bottom: 10px; }
  .sensor-list .sensor-list__item:hover {
    color: #fff;
    background-color: #e4a628;
    background-image: none; } }

@media only screen and (min-width: 992px) {
  .chose-city-992 {
    display: none; }
  .nav-tabs > li > a:before {
    content: none;
    border-bottom: none;
    border-right: none; }
  .nav-tabs > li > a:hover {
    background-color: #f0d383; }
  .nav-tabs > li > a:hover {
    color: #fff; }
    .nav-tabs > li > a:hover:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border-bottom: 20px solid #f0d383;
      border-right: 20px solid #fff; }
    .nav-tabs > li > a:hover:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-top: 20px solid #f0d383;
      border-right: 20px solid #fff; }
  .nav-tabs > li.active > a:hover {
    background-color: #e5b328; }
    .nav-tabs > li.active > a:hover:before {
      border-bottom-color: #e5b328; }
    .nav-tabs > li.active > a:hover:after {
      border-top-color: #e5b328; } }

@media only screen and (max-width: 1400px) and (min-width: 1300) {
  .down-top-nav {
    padding-left: 150px; } }

@media only screen and (max-width: 1290px) {
  .header-lining {
    height: 100px; }
  .time-send {
    left: 250px; }
  .days-send {
    margin-right: -25px; }
  .tab-pane {
    font-size: 15px; }
  .send-phone {
    font-size: 19px; }
  .send-p {
    font-size: 15px; }
  .black-button-f-size {
    font-size: 13px; }
  .b-title-acces {
    font-size: 25px; }
  .simple-title {
    line-height: 1; } }

@media only screen and (max-width: 1349px) {
  .show-1349 {
    display: block; }
  .up-top-nav__item_shop {
    top: 0px; }
  .ecto-control h1 {
    font-size: 30px; }
  .ecto-control h2 {
    font-size: 30px; }
  .ecto-control p {
    font-size: 16px; }
  .logo {
    left: 90px;
    top: 3px; }
  .down-top-nav {
    padding-left: 150px; }
  .cooperation {
    position: absolute;
    top: 0;
    left: 510px;
    text-decoration: none; }
  .shiping {
    margin-left: -22px; } }

.ecto-control {
  top: -50px; }

@media only screen and (max-width: 1150px) {
  .ecto-control {
    left: -155px; } }

@media only screen and (max-width: 1100px) {
  .up-top-nav__item {
    margin-right: 10px; }
  .header-lining {
    height: 110px; }
  .ecto-control {
    top: -30px; }
  .carousel-indicators {
    margin-bottom: 0; } }

@media only screen and (max-width: 1100px) {
  .indic-text {
    font-size: 12px; }
  .carousel-indicators li:first-child {
    width: 120px;
    left: 20px; }
  .carousel-indicators li:nth-child(2) {
    width: 135px; }
  .carousel-indicators li:last-child {
    width: 180px;
    left: -15px; }
  .ecto-control h2 {
    margin-bottom: 30px; }
  .chose-solution {
    width: 500px; } }

@media only screen and (max-width: 1060px) and (min-width: 992px) {
  .black-button-f-size {
    font-size: 11px; }
  .message {
    margin-top: 200px; } }

@media only screen and (max-width: 992px) and (min-width: 951px) {
  .icons-grup {
    position: absolute;
    right: 50px;
    top: 146px; }
  .drop-down-nav {
    margin-top: -29px; } }

@media only screen and (max-width: 991px) {
  .disp-none-992 {
    display: none; }
  .days-send {
    margin-right: 245px; }
  .show-992 {
    display: block; }
  .logo {
    display: inline-block; }
  .chose-solution {
    display: none; }
  .news-text {
    margin-bottom: 20px; }
  .didnt-find-city {
    margin-top: 20px; }
  .news-text {
    display: block;
    width: 380px;
    margin-left: auto;
    margin-right: auto; }
  .drive__title {
    margin-top: 20px; }
  .simple-title {
    margin-top: 30px;
    margin-bottom: 20px; }
  .main-footer {
    display: none; }
  .map-sensor {
    background-image: none;
    position: absolute;
    z-index: 2000;
    top: 40px; }
    .map-sensor img {
      width: 300px; }
  .padding-form {
    padding-left: 0; }
  .fill-form {
    margin-top: 30px; }
  .didnt-find-city {
    margin-bottom: 20px; }
  .drop-down-nav {
    padding-top: 60px;
    padding-bottom: 60px; }
  .news__title {
    margin-top: 30px;
    margin-bottom: 20px; }
  .nav-tabs > li {
    width: 100%; }
  .nav-tabs > li a {
    color: #000;
    text-decoration: none; }
  .nav-tabs > li.active {
    color: #000;
    background-color: #e5b328; }
  .cities-tab .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .cities-tab .col-md-3 {
    padding-right: 0;
    padding-left: 0; }
  .nav-tabs {
    background-color: #f6f5f4; }
  .nav-tabs > li.active > a:before {
    border-bottom: 0;
    border-right: 0; }
  .nav-tabs > li.active > a:after {
    border-top: 0;
    border-right: 0; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000; }
  .chose-city-992 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .inner-city {
    border-bottom: 1px dotted #f79c3b; }
  .nav-tabs .didnt-f {
    display: none; }
  .chevr-down {
    padding-left: 4px; }
  .sensor-list .map-sensor {
    display: none;
    margin-bottom: -10px;
    left: -12px;
    top: 50px; }
  .nav-tabs {
    display: none; }
  .access {
    background-position: 90%;
    padding-bottom: 300px; }
  .pos-access {
    position: relative;
    top: 290px; }
  .sprite-pause {
    display: none; }
  .message {
    position: relative;
    top: 280px; }
  .house-control {
    display: none; }
  .sensor-list-wrap {
    text-align: center; }
  .sensor-list-wrap-in {
    display: inline-block;
    text-align: left;
    width: 195px; }
  .sensor-obj {
    display: none;
    background-image: none; }
  .house-wrap .map-sensor {
    display: none;
    background-image: url("../../img/sensor-nbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 319px;
    height: 410px; }
  .map-sensor .sensor-img {
    padding-top: 50px;
    width: 282px; }
  .house-wrap .map-sensor1 {
    display: block;
    top: 10px;
    left: 10px; }
  .basket {
    display: inline-block; }
  .icon-menu {
    display: inline-block; }
  .sensor-list .map-sensor {
    position: relative;
    top: 10px; }
  .sensor-list .map-sensor-descript {
    background-color: #fff;
    margin-top: -5px;
    padding: 28px 55px 18px 20px;
    font-size: 18px;
    line-height: 1.3; }
  .sensor-list .map-sensor1 {
    position: relative;
    left: 73px;
    top: 30px; }
  .map-sensor {
    width: 285px;
    height: 410px; }
  .sensor-list .map-sensor-descript {
    width: 100%; }
  .map-sensor img {
    width: 100%; }
  .sensor-list {
    text-align: left; }
  .sensor-list .map-sensor-descript {
    padding-right: 20px; } }

@media only screen and (max-width: 950px) {
  .header-lining {
    height: 100px; }
  .up-top-nav {
    padding: 10px 0 0 10px; }
  .top-down-nav {
    padding-top: 15px;
    margin-top: 15px; }
  .sensor-describe {
    font-size: 14px; }
  .map-sensor-descript {
    font-size: 14px; }
  .sensor-title {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px; }
  .be-informed {
    font-size: 17px; }
  .send-world {
    padding-left: 30px; }
  .tab-pane .sprite-fast-icon {
    left: 0; }
  .up-top-nav__item {
    margin-bottom: 10px; } }

@media only screen and (max-width: 850px) {
  .ecto-control {
    left: -5px; }
  .ecto-control h2 {
    font-size: 16px; }
  .ecto-control h1 {
    font-size: 16px;
    display: block; }
  .simple-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px; }
  .set-sistem {
    font-size: 14px; }
  .send-p {
    font-size: 12px; }
  .time-send {
    left: 160px; }
  .days-send {
    position: absolute;
    margin-right: 0;
    left: 210px; }
  .boiler {
    font-size: 16px;
    margin-bottom: 30px; }
  .b-title {
    font-size: 26px; }
  .d-distance-title {
    margin-top: 30px;
    margin-bottom: 25px; }
  .drive {
    padding-bottom: 30px;
    background-position: 60%; }
  .access {
    background-position: 7 0%; }
  .sound-message {
    font-size: 14px; } }

@media only screen and (max-width: 765px) {
  .indic-text {
    font-size: 9px; }
  .carousel-indicators li:last-child {
    width: 105px;
    left: -11px; }
  .carousel-indicators li:nth-child(2) {
    width: 105px; }
  .carousel-indicators li:first-child {
    width: 80px;
    left: 18px; }
  .carousel-indicators {
    width: 310px; }
  .header-lining {
    height: 130px; }
  .chose-city {
    margin-top: 15px;
    margin-bottom: 5px; }
  .sprite-pause {
    display: none; } }

@media only screen and (max-width: 500px) {
  .carousel-indicators {
    margin-left: -170px; }
  .logo {
    left: 0; }
  .up-top-nav {
    padding-left: 0; } }

@media only screen and (max-width: 450px) {
  .news-text {
    width: 100%;
    padding-left: 90px; }
  .black-button-f-size {
    font-size: 9px; }
  .ecto-control h2 {
    margin-bottom: 0; }
  .up-top-nav {
    text-align: left; }
  .fz-14 {
    font-size: 14px; }
  .top-phone {
    font-size: 15px; }
  .ecto-control h2 {
    margin-bottom: 0; }
  .carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height: 240px; }
  .icons-grup {
    top: 107px; }
  .access {
    padding-bottom: 300px; } }

@media only screen and (max-width: 410px) {
  .icons-grup {
    right: 10px; }
  .logo {
    left: -10px; }
  .logo img {
    width: 180px; }
  .top-phone {
    font-size: 14px; }
  .send-phone {
    font-size: 18px; } }
