body {
	font-family: 'FuturaBookC', Arial, sans-serif;
	font-size: $font-size;
	background-color: $main-color;
	line-height: 18px;
	color: $text-color;
	max-width: 1920px;
	margin: 0 auto;
}

.container-1350 {
	max-width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

.b-title {
	font-size: $title-size;
	color: #fff;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.inline-b {
	display: inline-block;
}

a {
	color: $text-color;
	&:hover {
		color: $text-color;
	}
	&:visited {
		text-decoration: underline;
	}
}

.text-dec-none {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.futurademic-text {
	font-family: "futurademic";
}

.gray-text {
	color: #888888;
}

.under-text-grey {
	border-bottom: 1px solid #989898;
}

.under-text-yellow {
	border-bottom: 1px solid #e1b150;
	color: #e1b150
}

.text-color-yellow {
	color: #f7a043;
}

.text-color-yel-slid {
	color: #f7a042;
	border-bottom: 1px solid #f7a042;
}

.bold-text {
	font-family: 'futurademic';
}

.drive__title {
	margin-top: 100px;
	margin-bottom: 45px;
}

.news-text {
	color: #fff;
	line-height: 1.5;
}

.yellow-text {
	color: #e5b328;
}

.text-underline {
	text-decoration: underline;
}

.mail {
	margin-bottom: 20px;
}

.call-resept {
	margin-bottom: 45px;
}

.black-text {
	color: #000;
}

.bdb-gr{
	border-bottom: 1px solid #e5e5e5;
}

.send-by {
	display: inline-block;
	margin-bottom: 5px;
}

.time-send {
	float: left;
	position: absolute;
	left: 290px;
	width: 90px
}

.days-send {
	float: right;
	margin-right: 25px;
}

.container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

// .main-header {
// 	display: none;
// }

// .main-slider {
// 	display: block;
// }

// .drive {
// 	display: none;
// }

// .access {
// 	display: none;
// }

// .strizh {
// 	display: none;
// }

// .simple {
// 	display: none;
// }

// .news {
// 	display: none;
// }

// .cities-tab {
// 	display: none;
// }

// .main-footer {
// 	display: none;
// }