@media only screen and (max-width: 1400px) and (min-width: 1300) {
	.down-top-nav {
		padding-left: 150px;
	}
}

@media only screen and (max-width: 1290px) {
	.header-lining {
		height: 100px;
	}

	.time-send {
		left: 250px;
	}

	.days-send {
		margin-right: -25px;
	}

	.tab-pane {
		font-size: 15px;
	}

	.send-phone {
		font-size: 19px;
	}

	.send-p {
		font-size: 15px;
	}

	.black-button-f-size {
		font-size: 13px;
	}

	.b-title-acces {
		font-size: 25px;
	}

	.simple-title {
		line-height: 1;
	}
}


@media only screen and (max-width: 1349px) {
	.show-1349 {
		display: block;
	}

	.up-top-nav__item_shop {
		top: 0px;
	}

	.ecto-control h1 {
		font-size: 30px;
	}

	.ecto-control h2 {
		font-size: 30px;
	}

	.ecto-control p {
		font-size: 16px;
	}

	.logo {
		left: 90px;
		top:3px;
	}

	.down-top-nav {
		padding-left: 150px;
	}

	.cooperation {
		position: absolute;
		top: 0;
		left: 510px;
		text-decoration: none;
	}

	.shiping {
		margin-left: -22px;
	}
}

.ecto-control {
	top: -50px;
}

@media only screen and (max-width: 1150px) {
	.ecto-control {
		left: -155px;
	}
}

@media only screen and (max-width: 1100px) {
	.up-top-nav__item {
		margin-right: 10px;
	}
	.header-lining {
		height: 110px;
	}

	.ecto-control {
		top: -30px;
	}

	.carousel-indicators {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1100px) {
	.indic-text {
		font-size: 12px;
	}
	.carousel-indicators li:first-child {
		width: 120px;
		left: 20px;
	}

	.carousel-indicators li:nth-child(2) {
		width: 135px;
	}

	.carousel-indicators li:last-child {
		width: 180px;
		left: -15px;
	}

	.ecto-control h2 {
		margin-bottom: 30px;
	}

	.chose-solution {
		width: 500px;
	}

}

@media only screen and (max-width: 1060px) and (min-width: 992px){
	.black-button-f-size {
		font-size: 11px;
	}
}


@media only screen and (max-width: 991px) {
	.disp-none-992 {
		display: none;
	}

	.days-send {
		margin-right: 245px;
	}

	.show-992 {
		display: block;
	}

	.logo {
		display: inline-block;
	}

	.chose-solution {
		display: none;
	}

	.news-text {
		margin-bottom: 20px;
	}

	.didnt-find-city {
		margin-top: 20px;
	}

	.news-text {
		display: block;
		width: 380px;
		margin-left: auto;
		margin-right: auto;
	}

	.second-sensor-list {
		margin-top: -200px;
	}

	.drive__title {
		margin-top: 20px;
	}

	.simple-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.main-footer {
		display: none;
	}

	.map-sensor {
		width: 300px;
		height: 400px;
		img {
			width: 300px;
		}
	}
}

// .cities-tab {
// 	display: none;
// }

@media only screen and (max-width: 950px) {
	.header-lining {
		height: 100px;
	}

	.up-top-nav {
		padding: 10px 0 0 10px;
	}

	.top-down-nav {
		padding-top: 15px;
		margin-top: 15px;
	}

	.sensor-describe {
		font-size: 14px;
	}

	.map-sensor-descript {
		font-size: 14px;
	}

	.sensor-title {
		font-size: 26px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.be-informed {
		font-size: 17px;
	}

	.send-world {
		padding-left: 30px;
	}

	.tab-pane .sprite-fast-icon {
		left: 0;
	}
}

@media only screen and (max-width: 850px) {

	.ecto-control {
		left: -5px;
	}
	.ecto-control h2 {
		font-size: 16px;
	}

	.ecto-control h1 {
		font-size: 16px;
		display: block;
	}

	.simple-title {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 26px;
	}

	.set-sistem {
		font-size: 14px;
	}
}