.sprite {
    background-image: url(../../img/spritesheet1.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-bin-icon {
    width: 20px;
    height: 21px;
    background-position: -5px -5px;
}

.sprite-fast-icon {
    width: 23px;
    height: 17px;
    background-position: -35px -5px;
}


.sprite1 {
    background-image: url(../../img/spritesheet2.png);
    background-repeat: no-repeat;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 21px;
}

.sprite-solution_01 {
    width: 49px;
    height: 60px;
    background-position: -5px -5px;
}

.sprite-solution_02 {
    width: 47px;
    height: 60px;
    background-position: -64px -5px;
}

.sprite-solution_03 {
    width: 50px;
    height: 57px;
    background-position: -121px -5px;
}

.sprite3 {
    background-image: url(../../img/spritesheet3.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-drive_01 {
    width: 27px;
    height: 35px;
    background-position: -5px -5px;
}

.sprite-drive_02 {
    width: 33px;
    height: 36px;
    background-position: -42px -5px;
}

.sprite-drive_03 {
    width: 35px;
    height: 25px;
    background-position: -85px -5px;
}

.sprite-drive_04 {
    width: 28px;
    height: 33px;
    background-position: -130px -5px;
}

.sprite-drive_05 {
    width: 32px;
    height: 30px;
    background-position: -168px -5px;
}

.sprite-drive_06 {
    width: 36px;
    height: 28px;
    background-position: -210px -5px;
}

.sprite4 {
    background-image: url(../../img/spritesheet4.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.sprite-devices_01 {
    width: 64px;
    height: 55px;
    background-position: -5px -5px;
}

.sprite-devices_02 {
    width: 41px;
    height: 55px;
    background-position: -79px -5px;
}

.sprite-devices_03 {
    width: 34px;
    height: 55px;
    background-position: -130px -5px;
}

.sprite5 {
    background-image: url(../../img/spritesheet5.png);
    background-repeat: no-repeat;
    display: block;
    background-color: #000;
}

.sprite-social_01 {
    width: 32px;
    height: 36px;
    background-position: -5px -5px;
}

.sprite-social_02 {
    width: 30px;
    height: 36px;
    background-position: -47px -5px;
}

.black-button_position1 {
	margin-top: 25px;
}

.black-button_position2 {
	margin-top: 6px;
}


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'os' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 35px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause-circle:before {
  content: "\e901";
}
.icon-play-circle:before {
  content: "\e900";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}

.icon-menu:before {
    content: "\e903"
}

.sprite6 {
    background-image: url(../../img/spritesheet6.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-pause {
    width: 43px;
    height: 43px;
    background-position: -5px -5px;
    position: relative;
    top: 25px;
}

.sprite-play-icon {
	display: inline-block;
    width: 43px;
    height: 43px;
    background-position: -58px -5px;
    position: relative;
    top: 20px;
    margin-right: 10px
}

.message {
	margin-top: 20px;
}
.sound-message {
	font-size: 19px;
}

.sprite7 {
    background-image: url(../../img/spritesheet7.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sprite-strizh_01 {
    width: 96px;
    height: 90px;
    background-position: -5px -5px;
}

.sprite-strizh_02 {
    width: 101px;
    height: 81px;
    background-position: -111px -5px;
}

.sprite-strizh_03 {
    width: 74px;
    height: 75px;
    background-position: -222px -5px;
}

.sprite-strizh_04 {
    width: 92px;
    height: 95px;
    background-position: -306px -5px;
}

.sprite-strizh_05 {
    width: 91px;
    height: 95px;
    background-position: -408px -5px;
}

.sprite-strizh_06 {
    width: 65px;
    height: 95px;
    background-position: -509px -5px;
}




