//main-slider
.main-slider {
	// position: relative;
 //    top: -140px;
 //    z-index: -500;
}

.chose-solution {
	font-size: 17px;
	font-weight: normal;
	text-align: left;
	width: 650px;
}

.ecto-control {
	width: 737px;
	text-align: left;
	h1 {
		display: inline-block;
		font-size: 42px;
		color: #e5b328;
		line-height: 1.3;
	}

	h2 {
		display: inline-block;
		font-size: 42px;
		color: #fff;
		line-height: 1.3;
		margin-bottom: 60px;
	}

	position: relative;
	top: -120px;
	left: -220px;
}

.carousel-indicators {
	margin-bottom: 20px;
}

.carousel-indicators li {
	$height: 30px;
	width: 180px;
	height: 30px;
	border-radius: 0;
	color: #fff;
	position: relative;
	z-index: 10;
	border: none;
}

.indic-text {
	margin-top: 5px;
	text-indent: 0;
}



.slider-dot2 {
	margin-left: -40px;
}

.slider-dot3 {
	width: 160px;
}

.carousel-indicators li:first-child {
	left: 30px;
	border-radius: 16px 0px 0px 16px;
	border-top: 1px solid #575858;
	border-bottom: 1px solid #575858;
}

.carousel-indicators li:nth-child(2) {
	border-top: 1px solid #575858;
	border-bottom: 1px solid #575858;
}

.carousel-indicators li:last-child {
	width: 250px;
	left: -25px;
	span {
		left: 580px;
	}
	border-radius: 0px 16px 16px 0px;
	border-top: 1px solid #575858;
	border-bottom: 1px solid #575858;
}

.carousel-indicators .active {
	top: 0px;
	$height: 30px;
	width: 181px;
	height: 30px;
	border-radius: none;
	background-color: #f7a042;
	border-color: #f7a042 !important;
	z-index: 100;
	border-radius: 16px 16px 16px 16px !important;
}

.drive {
	@include bg-img("../../img/drive-bg.png");
	padding-bottom: 130px;
}

.boiler {
	color: #fff;
	margin-bottom: 40px;
	font-size: 20px;
}

.sprite3 {
	position: relative;
	top: 0px;
	right: 10px;
	float: left;
}

.sprite-drive_03 {
	top: -5px;
}

.sprite-drive_06 {
	top: -5px;
}

.d-distance-title {
	margin-top: 150px;
	margin-bottom: 75px;
}

.access {
	// height: 630px;
	@include bg-img('../../img/access-bg.png')
	padding-bottom: 100px;
}

.b-title-acces {
	color: #000000;
}

.oper-s {
	margin-top: 20px;
}

.black-button_matgin {
	margin-top: 30px;
}

.strizh {
	// height: 820px;
	font-size: 19px;
	line-height: 1.3;

	.margin-bottom-80 {
		padding-bottom: 60px;
	}
}

.strizh__title {
    color: $text-color;
    margin-top: 85px;
    margin-bottom: 85px;
    text-align: center;
}

.simple {
	// height: 635px;
	padding-bottom: 130px;
	@include bg-img('../../img/simple-bg.png')
	font-size: 20px;
}

.simple-title {
	margin-top: 220px;
	margin-bottom: 65px;
	color: $text-color;	
}

.set-sistem {
	margin-bottom: 25px;
}

.news {
	// height: 470px;
	padding-bottom: 100px;
	@include bg-img('../../img/news-bg.png');
}

.news-text {
	padding-left: 110px;
	position: relative;
}

.news__title {
	text-align: center;
	margin: 65px 0 80px 0;
}

.date {
	position: absolute;
	left: 20px;
	top: 0px;
	color: #a0a0a0;
	.date__number {
		font-size: 56px;
		line-height: 0.8;
	}
}

.cities-tab {
	padding-bottom: 30px;
}


//bootstrap tabs

$tab-bg-color: #fff;
$tab-accent-color: #e5b328;

.nav-tabs {
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none;
}

.nav-tabs>li>a {
	border: none;
	border-radius: 0;
}

.nav-tabs>li {
	float: none;
	width: 210px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: $tab-accent-color;
	color: #fff;
	text-decoration: none;
}

	.nav-tabs>li.active>a:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 20px solid $tab-accent-color;
	border-right: 20px solid #fff;
}

.nav-tabs>li.active>a:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	border-top: 20px solid $tab-accent-color;
	border-right: 20px solid #fff;
}



.nav-tabs >li a{
	text-decoration: underline;
	color: #e5b328;
	font-size: 16px;
}



.chose-city {
	font-size: 19px;
	margin-top: 45px;
	margin-bottom: 20px;
	padding-left: 18px;
}

.didnt-find-city {
	font-size: 36px;
	color: #000;
	margin-top: -35px;
	margin-bottom: 60px;
}

.send-p {
	margin-bottom: 25px;
	font-size: 19px;
}

.send-phone {
	font-size: 24px;
	margin-bottom: 25px;
}

.tab-pane {
	font-size: 19px;
	.sprite-fast-icon {
		position: absolute;
		left: -30px;
		top: 0;
	}
}

.send-world {
	margin-bottom: 18px;
	position: relative;		
}

.send-button {
	padding-bottom: 9px;
	margin-top: 25px;
}

.fill-form {
	margin-top: 70px;
	margin-bottom: 29px;
}

.send-form {
	.input-field {
		border: none;
		background-color: #f6f5f4;
		padding: 11px 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.form-send-button {
		border-radius: 18px 18px 18px 18px;
		border: none;
		margin-top: 6px;
	}

}

.padding-form {
	padding-left: 50px;
}

//sensor

.sensor {
	@include bg-img("../../img/sensor-bg.png");
	// height: 865px;
	position: relative;
	padding-bottom: 30px;
}

.sensor-in-r {
	position: absolute;
	height: 35px;
	width: 35px;
	background-color: #000;
}

.sensor-wrap {
	text-align: center;
}

.sensor-describe {
	display: inline-block;
	font-size: 22px;
	margin-top: 40px;
	padding-bottom: 45px;
	line-height: 1.3;
	border-bottom: 1px solid #e3e3e3;
}

.sensor-title {
	color: #e6a627;
	margin-top: 40px;
	margin-bottom: 50px;
}

.sensor-list .sensor-list__item {
	z-index: 200;
}

.be-informed {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 40px;
}

.sensor ul{
	 list-style: disc outside;
	 padding-left: 0px;
}

.sensor-list {
	font-size: 19px;
	// margin-bottom: 200px;
	.sensor-list__item {
		display: list-item;
		cursor: pointer;
		list-style-type: circle;
		padding: 6px 11px 8px 15px;
		// color: $accent-color2;
		display: inline-block;
		margin-bottom: 5px;
		border-bottom: 1px solid $accent-color2;
	}
}

.mouse-img {
	display: inline-block;
	background-image: url('../../img/mouse-img.png');
	background-repeat: no-repeat;
	height: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 1;
	width: 200px;
	text-align: right;
	background-position: 10px 6px;
}

.map-sensor {
	display: inline-block;
	list-style: none;
	@include bg-img("../../img/sensor.png");
	width: 600px;
    height: 720px;
    position: absolute;
    top: -520px;
    z-index: 12;
    .sensor-img {
    	width: 302px;
    	padding-top: 124px;
    }
}

.map-sensor-descript {
	margin-top: -5px;
	padding: 10px 55px 18px 55px;
	font-size: 18px;
	line-height: 1.3;
	width: 380px;
    margin: 0 auto;
    text-align: left;
    .descript-title {
    	font-size: 22px;
    }
}

.yellow-button_radius {
	border-radius: 20px;
	margin-top: 13px;
	font-size: 15px;
}

.triangle {
	position: relative;
	top: 40px;
	left: 121px;
}

// .map-sensor1 {
// 	position: relative;
// 	left: 73px;
// 	top: 30px;
// }


//adaptive part

.show-1349 {
	display: none;
}

.down-top-nav {
	text-align: left;
}

.cooperation {
	// text-decoration: underline;
	&:visited {
		text-decoration: none;
		color: #f7a042;
	}
}

.show-992 {
	display: none;
}


@for $i from 1 through 7 {
	.map-sensor#{$i} {
		display: block;
	}
}

h1, h2, h3 {
	line-height: 1;
}

.icon-menu {
	background-color: #f79c3b;
	color: #fff;
	display: inline-block;
	padding: 9px 10px;
	font-size: 29px;
	position: relative;
	top: -11px;
}

	.basket {
		display: none;
	}

	.icon-menu {
		display: none;
	}

.drop-down-nav {
	background-color: #3d3d3d;
	margin-top: 10px;
	display: none;
	li {
		padding: 13px;
		padding-left: 50px;
		font-size: 19px;
		color: #fff;
	}
}

.icons-grup {
	position: absolute;
	right: 50px;
	top: 116px;
}

.icon-menu-dark {
	background-color: #3d3d3d;
}

.drop-nav-992 {
	color: #fff;
	border-bottom: 1px solid $accent-color;
}

.yellow-text {
	color: #f79c3b;
}

.sensor-list .sensor-list__item {
	background-image: url('../../img/dot.png');
	background-repeat: no-repeat;
	background-position: 2px 11px;
	padding-left: 10px;
	position: relative;
}

.chose-city-992 {
	color: #e5b328;
	padding-left: 13px;
}

// .house-control {
// 	position: absolute;
// 	bottom: 0px;
// }

.house-wrap {
	display: inline-block;
	position: absolute;
	bottom: 0;
}

// .clearfix:after {
//     clear: both;
//     content: ".";
//     display: block;
//     height: 0;
//     visibility: hidden;
// }
// .clearfix {
//     display: inline-block;
// }
// .clearfix {
//     display: block;
// }


.sensor-obj {
	@include bg-img('../../img/marker.png');
	height: 40px;
	width: 41px;
	position: absolute;
}

.sensor-obj1 {
	left: 85px;
	bottom: 55px;
}

.sensor-obj2 {
	left: 105px;
	bottom: 180px;
}

.sensor-obj3 {
	left: 170px;
	bottom: 330px;
}

.sensor-obj4 {
	left: 435px;
	bottom: 155px;
}

.sensor-obj5 {
	left: 380px;
	bottom: 65px;
}

.sensor-obj6 {
	left: 220px;
	bottom: 83px;
}


.house-wrap {

	@for $i from 1 through 7 {
	.map-sensor#{$i} {
		left: -277px;
		top: -578px;
		display: none;
	}
}

	// .map-sensor1 {
	// 	left: -277px;
	// 	top: -578px;
	// 	display: none;
	// }

	// .map-sensor2 {
	// 	left: -277px;
	// 	top: -578px;
	// 	display: none;
	// }

	// .map-sensor3 {
	// 	left: -277px;
	// 	top: -578px;
	// 	// display: none;
	// }
}


	@for $i from 11 through 18 {
		.map-sensor#{$i} {
			display: none;
		}
	}